
/*Reset CSS*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*fonts*/




/* MontBlanc - Black */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-Black.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* MontBlanc - Black Italic */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-BlackItalic.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

/* MontBlanc - Bold */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-Bold.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* MontBlanc - Bold Italic */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-BoldItalic.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/* MontBlanc - ExtraBold */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-ExtraBold.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* MontBlanc - ExtraBold Italic */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-ExtraBoldItalic.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

/* MontBlanc - ExtraLight */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-ExtraLight.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

/* MontBlanc - ExtraLight Italic */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-ExtraLightItalic.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

/* MontBlanc - Light */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-Light.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* MontBlanc - Light Italic */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-LightItalic.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

/* MontBlanc - Regular */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-Regular.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* MontBlanc - Regular Italic */
@font-face {
    font-family: 'MontBlanc';
    src: url('../../public/fonts/MontBlanc-Trial-RegularItalic.woff2') format('woff2'),
    url('../../public/fonts/MontBlanc-Trial-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

/* MontBlanc - SemiBold */
